<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543804983704-6lae9svd7nessp5dotlfqj20902euifg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543804983704-6lae9svd7nessp5dotlfqj20902euifg</string>
	<key>API_KEY</key>
	<string>AIzaSyAThEzUUp_ZUg5dn4uKqrqPQvaeMlUhLCA</string>
	<key>GCM_SENDER_ID</key>
	<string>543804983704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>trashtracker-b61e0</string>
	<key>STORAGE_BUCKET</key>
	<string>trashtracker-b61e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543804983704:ios:e581d3490769fc353303ed</string>
</dict>
</plist>